.page-header .btn-success {
  margin-right: 5px;
}

#loading {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(122,122,122,0.5);
}

#loading.visible {
  display: flex;
}

#loading .loading-text {
  margin: auto;
  background-color: #fff;
  width: 200px;
  height: 100px;
  text-align: center;
}

#messagesContainer .message {
  border-bottom: solid 1px #eee;
  margin-bottom: 20px;
}

#messagesContainer .message:last-child {
  border-width: 0;
}

#messagesContainer .message .btn-primary {
  margin-right: 5px;
}

#messagesContainer .message .date {
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}